html
  head
    link(rel="stylesheet", href="css/eliza-style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type="text/javascript", src="js/therapySession.js")
  body
    nav(class="navbar navbar-inverse")
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") Therapy Session With Eliza
        ul(class="nav navbar-nav pull-right")
          li
            button(type="button",class="btn btn-info btn-lg", data-toggle="modal", data-target="#conversationHistory", id="conversationHistoryButton") Conversation History
          li
            button(type="button", class="btn btn-info btn-lg", id="logoutButton") Logout
    div(class="modal fade", id="conversationHistory", role="dialog")
      div(class="modal-dialog modal-lg")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal") &times;
            h4(class="modal-title") Past List of Conversations
          div(class="modal-body")
            ul(id="pastConversationsList")
          div(class="modal-footer")
            button(type="button", class="btn btn-default", data-dismiss="modal") close

    div.well.text-center
      p Hi #{name}! How are you?
      p Your current log-in time is #{date}
    div#chatbox
      ul#chatlist
    form#human_resp
      input.form-control.text-center(name="human", type="text", id="humanmsg", size="75")
      input.form-control(type="submit", id="submitmsg", value="Send")
    script.
      #{injectedScriptText}
